<!DOCTYPE html>
<html>
<head>
    <title>hello world</title>
    <meta http-equiv="X-UA-Compatible" content="IE=9">
    <link href="/favicon.ico" rel="shortcut icon" type="image/ico">
    <link rel="stylesheet" type="text/css" href="http://www.w3cschool.cc/try/jeasyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="http://www.w3cschool.cc/try/jeasyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="http://www.w3cschool.cc/try/jeasyui/demo/demo.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.min.js"></script>
    <script type="text/javascript" src="http://www.w3cschool.cc/try/jeasyui/jquery.easyui.min.js"></script>
    @RenderSection("Header", false)
    @RenderSection("Script", false)
</head>
<body>
    @RenderBody()
</body>
</html>